<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <a href='/mongooses/new'>Add a new Mongoose</a>
    <h1>Mongoose List</h1>
    <% for(key in mongooses) { %>
        <h1> <a href="/mongoose/<%= mongooses[key]._id %>"><%= mongooses[key].name %> </a>  </h1>
        <h3> <%= mongooses[key].info %> </h3>
    <% } %>
</body>

</html>